body {
  font-family: verdana, arial, helvetica, sans-serif;
}
#wrapper{
  min-height: 400px;
  width: 960px;
  margin: 0 auto;
}

h1 {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px;
  height: 220px;
  text-indent: -200px;
  overflow: hidden;
}

nav {
  background-color: #DDD;
  padding: 5px 0
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
}
ul li a{
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
ul li a:hover{
  color: #999;
  text-decoration: underline;
}

#destaque figure {
  margin: 0;
}

h2 {
  text-indent: 10px;
  color: #333;
}

#viagensList{
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

#viagensList .cardViagens {
  border-radius: 5px; 
  padding: 10px;
  box-shadow: 0px 0px 3px 1px #DDD;
}

.cardViagens p {
  display: inline-block;
  width: 300px;
  margin: 0 0 0 10px;
}

#contatos h2 {
  grid-area: h2;
}
#contatos form {
  grid-area: formulario;
  padding: 10px;
  text-align: right;
}
#contatos form input,
#contatos form textarea{
  display: block;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  line-height: 20px;
}

#contatos form input[type="submit"] {
  display: inline;
  width: inherit;
  background-color: blue;
  border: none;
  color: #fff;
}

#contatos div {
  grid-area: enderecoTelefones;
}
#contatos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'h2 h2'
  'formulario enderecoTelefones';
  grid-gap: 10px;
}
#contatos h3 {
  font-size: 14px;
  color: #333;
}

footer{
  border-top: 1px solid #ccc;
  margin-top:10px;
  padding:10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  width: 39px;
  height: 39px;
  background-color: #F00;
  background-image: url('../images/social_sprites.png');
}
footer ul li:nth-child(2) a {
  background-position-x: -156px;
}
footer ul li:nth-child(3) a {
  background-position-x: 119px;
}
footer ul li a:hover {
  background-position-y: -39px;
}